body {

  margin: 0px;
  padding: 0px;
}
.main-body{
  display: grid;
  grid-template-columns: repeat(4,250px);
  align-items: center;
  gap: 10px
  ;
  justify-content: center;
}
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.crs-bar {
  padding: 10px;
  width: 300px;
  margin: 20px auto;
  display: block;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
}